In [11]:
import json 
import torch 
from torch.utils.data import Dataset, DataLoader 
import torch.nn as nn 
import os
import json
import gzip
import pandas as pd
import numpy as np 
from urllib.request import urlopen
from tqdm import tqdm

In [4]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Video_Games_5.json.gz

--2022-05-21 14:27:54--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Video_Games_5.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 154050105 (147M) [application/octet-stream]
Saving to: ‘Video_Games_5.json.gz’

Video_Games_5.json. 100%[===================>] 146.91M  15.7MB/s    in 7.9s

2022-05-21 14:28:02 (18.7 MB/s) - ‘Video_Games_5.json.gz’ saved [154050105/154050105]

In [7]:
data = []
with gzip.open('Video_Games_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    

print(len(data))

497577

In [14]:
df = pd.DataFrame(data)

In [15]:
del data; 
df.head()

   overall  verified   reviewTime  ... vote style image
0      5.0      True  10 17, 2015  ...  NaN   NaN   NaN
1      4.0     False  07 27, 2015  ...  NaN   NaN   NaN
2      3.0      True  02 23, 2015  ...  NaN   NaN   NaN
3      2.0      True  02 20, 2015  ...  NaN   NaN   NaN
4      5.0      True  12 25, 2014  ...  NaN   NaN   NaN

[5 rows x 12 columns]

In [17]:
df = df.sort_values('reviewerID') # Sort by reviewer ID so that we can split on reviewerID during train test split

In [22]:
df_train = df[:315218].sample(frac=1., random_state=42).reset_index()
df_test = df[315218:].sample(frac=1., random_state=42).reset_index()

array(['B00005YCXO', 'B00104KCF8', 'B01ALRCD38', 'B0009SQFHA',
       'B0016BVYA2', 'B00TKLFOKQ', 'B003QOWQHC', 'B000ERVMI8',
       'B002EQFXZA', 'B00009ZVHW'], dtype=object)

In [27]:
def create_vocab(df, field):
    id2int = {}
    int2id = {}
    for i, id in enumerate(df[field].unique()):
        id2int[id] = i
        int2id[i] = id
            
    return id2int, int2id

In [28]:
product2int, int2product = create_vocab(df, 'asin')

In [30]:
reviewer2int, int2reviewer = create_vocab(df, 'reviewerID')

In [36]:
df_train

         index  ...  image
0        32302  ...    NaN
1       127220  ...    NaN
2       431629  ...    NaN
3        68164  ...    NaN
4       160294  ...    NaN
...        ...  ...    ...
315213  301663  ...    NaN
315214  432485  ...    NaN
315215  434071  ...    NaN
315216  285293  ...    NaN
315217  256862  ...    NaN

[315218 rows x 13 columns]

In [43]:
class RecSysDataset(Dataset):
    def __init__(self, df, ):
        self.df = df 
        self.ratings = df['overall'].values
        self.product_ids = df['asin'].values
        self.reviewer_ids = df['reviewerID'].values
    def __len__(self):
        return len(self.data)
    
    
    
    def __getitem__(self, idx):
        
        rating = torch.tensor(self.ratings[idx], dtype=torch.float)
        product_id = torch.tensor(product2int[self.product_ids[idx]], dtype=torch.long)
        reviewer_id = torch.tensor(reviewer2int[self.reviewer_ids[idx]], dtype=torch.long)
        # review_text = item['reviewText'] # Add with bert tokenizer later 

        return {
            'rating': rating,
            'product_id': product_id,
            'reviewer_id': reviewer_id
        }

In [44]:
train_dataset = RecSysDataset(df_train)
test_dataset = RecSysDataset(df_test)

In [71]:
class MFModel(nn.Module):
    def __init__(self, num_reviewers, num_products, emb_sz):
        super().__init__()
        self.reviewer_embeddings = nn.Embedding(num_reviewers, emb_sz)
        self.product_embeddings = nn.Embedding(num_products, emb_sz)
    
    def forward(self, product_id, reviewer_id):
        print(reviewer_id)
        reviewer_vector = self.reviewer_embeddings(reviewer_id)
        product_vector = self.product_embeddings(product_id)
        return (reviewer_vector * product_vector).sum(1)

In [64]:
model = MFModel(len(reviewer2int), len(product2int), 10)

In [70]:
loss_fn = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)

In [56]:
def train(train_loader, model, loss_fn, optimizer, device):
    accuracy = []
    total_loss = 0
    for idx, data in enumerate(tqdm(train_loader)):
        optimizer.zero_grad()
        rating = data['rating'].to(device)
        reviewer_id = data['reviewer_id'].to(device)
        product_id = data['product_id'].to(device)

        preds = model(product_id, reviewer_id)

        loss = loss_fn(preds, rating)
        total_loss += loss 
        optimizer.step()

        batch_accuracy = ((preds.cpu() == rating.cpu()).sum()) / len(data)
        accuracy.append(batch_accuracy)
    
    print(f'Training Loss: {total_loss/(len(train_loader))}, Training Accuracy: {np.mean(np.asarray(accuracy))}')

In [ ]:
def test(test_loader, model, loss_fn, device):
    accuracy = []
    with torch.no_grad():
        for idx, data in enumerate(tqdm(test_loader)):

            rating = data['rating'].to(device)
            reviewer_id = data['reviewer_id'].to(device)
            product_id = data['product_id'].to(device)

            preds = model(product_id, reviewer_id)

            loss = loss_fn(preds, rating)

            batch_accuracy = ((preds.cpu() == rating.cpu()).sum()) / len(data)
            accuracy.append(batch_accuracy)
        print(f'Training Loss: {loss}, Training Accuracy: {np.mean(np.asarray(accuracy))}')

In [59]:
a(torch.tensor([1, 2]))

tensor([[ 0.1150, -0.0762, -0.4434, -2.2551, -2.1552, -1.9053, -1.5596, -1.4760,
          1.4537,  1.3882],
        [-0.6215,  0.7647, -1.4853,  0.1306,  0.0975,  0.0943,  2.4900,  0.4897,
          1.3510,  0.6800]], grad_fn=<EmbeddingBackward0>)